@keyframes visiting {
    10% { background-color: green; }
    30% { background-color: yellowgreen; }
    60%, 100% { background-color: black; }
  }

@keyframes short {
    10% { background-color: lightsalmon; }
    30% { background-color: lightcoral; }
    60%, 100% { background-color: orangered; }
}

body {
    margin: 0;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.node {
    height: 20px;
    width: 20px;
    box-shadow: 2px orangered;
    background-color: #fb3;
    border-radius: 10px 10px 10px 3px;
}

.node.startNode {
    background-color: orangered;
}

.node.destinationNode {
    background-color: blue;
}

.node.wallNode {
    background-color: white;
}

.node.visiting {
    animation: visiting 2s ease-in;
    animation-fill-mode: forwards;
}

.node.visiting.short {
    animation: short 2s ease-in;
    animation-fill-mode: forwards;
    background-color: black;
}

.button {
    width: fit-content;
    height: 50px;
    background-color: orangered;
    border-radius: 30px;
    border: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70%);
    cursor: pointer;
}

.buttonText {
    padding: 0px 10px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}